<header class='h-28 bg-white fixed top-0 w-full z-[1]'>
  <nav class='mx-[10%] h-full flex items-center'>
    <div class='flex items-center'>
      <div class='mr-9'>
        <%= image_tag('gmail', class: 'w-[60px] h-[60px]')%>
      </div>
      <span>google.com</span>
    </div>
    <div class='hidden md:block ml-auto'>
      <ul class='flex items-center justify-around text-[#2a1454]'>
        <li class="mx-4 nav-hover"><a href="" class=''>Services</a></li>
        <li class="mx-4 nav-hover"><a href="">CV</a></li>
        <li class="mx-4 nav-hover"><a href="">Reviews</a></li>
        <li class="mx-4 nav-hover"><a href="">Contact</a></li>
      </ul>
    </div>
    <div class='ml-auto md:ml-8 flex  items-center justify-center'>
      <a class='w-36 contact-me text-white h-12 rounded-full flex items-center justify-center'>
        Contact Me
      </a>
    </div>
  </nav>
</header>